.genres-pills {
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    align-items: baseline;

    &__pill {
        background-color: #E7CCEA;
        padding: 7px;
        border-radius: 70px;
    }
}